{% extends 'base.html' %}

{% block title %}
New Blog
{% endblock%}


{% block content %}

<div class="wrapper">
    <div class="center">
        <h2 class="page-heading">Add a new blog</h2>
        <form action="{{ url_for('new_blog') }}" method="post">

            <div class="input-wrapper">
                <div>
                    <label for="blog_title">Blog title:</label>
                </div>
                <div>
                    <input type="text" name="title" id="blog_title">
                </div>
            </div>

            <div class="input-wrapper">
                <div>
                    <label for="blog_body">Blog body:</label>

                </div>
                <div>
                    <textarea name="body" id="blog_body" cols="30" rows="10"></textarea>

                </div>

            </div>

            <div class="input-wrapper">
                <div>
                    <label for="blog_author">Blog author:</label>

                </div>
                <div>
                    <input type="text" name="author" id="blog_author">
                </div>
            </div>

            <div class="input-wrapper" style="text-align:center">
                <button type="submit" id="add_blog_btn">Add Blog</button>
            </div>

        </form>




    </div>




</div>

{% endblock%}